body {
    background: linear-gradient(#12081c, #4565cc);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-btn {
    display: flex;
    justify-content: center;
}

.container-quarto {
    border: 25px solid #10376e;
}

.container-mensagem-perdeu {
    z-index: 9999;
    position: absolute;
    left: 600px;
    right: 0;
    margin-top: 140px;
    color: #f8f9fa;
    text-align: center;
    font-family: 'Montserrat', serif;
}

.container-mensagem-ganhou {
    z-index: 9999;
    position: absolute;
    left: -20px;
    right: 0;
    margin-top: 140px;
    color: #f8f9fa;
    text-align: center;
    font-family: 'Montserrat', serif;
}

.d-none-mensagem-ganhou {
    display: none;
}

.d-none-mensagem-perdeu {
    display: none;
}

.minotauro {
    z-index: 9999;
    position: absolute;
}

.d-none {
    display: none;
}

.d-show {
    display: block;
}

.container-niveis {
    position: fixed; 
    z-index: 2;
    top: 0;
    margin-top: 15px;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
}

/* css portas */
.porta-bordas {
    background-color: #4565cc;
    border-style: solid;
    border-width: 4px;
    border-color: #ffffff;
}

div.porta-bordas i {
    margin-left: 25px;
}

.fa-user {
    color: #01a2e8;
}

.fa-simplybuilt {
    color: #cf0202;
}

.fa-flag-checkered {
    color: #45dd98;
}